# setup.sh создаёт .env со случайными локальными паролем БД и ключом JWT.
POSTGRES_PASSWORD=replace_with_a_random_password
SECRET_KEY=replace_with_a_random_jwt_secret
API_PORT=8003
PARSER_PORT=8004
POSTGRES_PORT=5433
